li .glyphicon {
  margin-right: 10px;
}

/* Highlighting rules for nav menu items */
li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
  background-color: #4189C7;
  color: white;
}

.menuButton {
  width: 250px;
  color: white;
  font-size: large;
  text-align: left
}
